@font-face {
	font-family: "Raleway";
	src:
		url("fonts/raleway_thin-webfont.eot"),
		url("fonts/raleway_thin-webfont.svg"),
		url("fonts/raleway_thin-webfont.ttf"),
		url("fonts/raleway_thin-webfont.woff");
}

html {
	margin: 0;
	height: 100%
}

body {
	/*	background-color: black;*/
	padding-bottom: 20px;
	height: 100%;
	margin: 0;
}

html,
body {
	padding: 0;
	margin: 0;
}

.buttonSet {
	background-color: black;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	justify-content: space-between;
	height: 10%;
	display: flex;

}

.media-button {
	font-family: "Raleway";
	font-size: 4em;
	height: 100%;
	width: 20%;
}


#top-bar {
	padding-top: 10px;
	text-align: center;
	width: 100%;
	margin: none;
	background: linear-gradient(to top, #1e5799 0%, #2989d8 10%);
	margin: 0;
	padding: none;
	height: 10%;
}

#side-bar {
	text-align: center;
	width: 15%;
	margin: none;
	background: linear-gradient(to bottom, #1e5799 0%, #2989d8 5%);
	margin: 0;
	padding: none;
	height: 90%;
	float: left;
}

#sketch-container {
	height: 100%;
	margin: none;
	padding: none;
	border-style: solid;
	background-color: red;
}


/*
#main-container {
	border-style: solid;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
*/

#rootList {
	margin-bottom: 10px;
}

#beat-form {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}



.side-text {
	font-size: 1.5em;
	font-family: "Raleway";
	color: white;
	margin-top: 0;
	padding: 0;
}


#add {
/*	margin-top: 10px;*/
/*	margin-bottom: 70%;*/
}

canvas {
	width: 85% !important;
	height: 90% !important;
}
